@import "tailwindcss";

@theme{
  --color-primary: #1A2231;
  --color-primary-light: #21293B;
  --color-secondary: #D84824;
}

h1,h2,h3,h4,h5,h6,h1{
  font-family: var(--font-playfair);
}

p,a,span,button{
  font-family: var(--font-poppins);
}

h1 span{
  font-family: var(--font-playfair);
}

.bg-gray-overlay {
  background: linear-gradient(90deg, rgba(141, 141, 141, 0.2) 30.29%, rgba(141, 141, 141, 0.2) 100%);
}
